@import "../../styles/base/variables";
@import "../../styles/base/responsive";

.search-engine {
    padding: 2rem;
    block-size: 100%;

    &__container {
        border: 0.3rem solid #0a0a0c;
    }

    &__header-section {
        display: flex;
        justify-content: center;
        padding: 5rem 4rem 5rem 8rem;
        text-align: center;

        @include respond(phone){
            padding: 2rem !important;
        }

        &--logo {
            img {
                max-block-size: 7rem;
                @include respond(phone){
                    max-block-size: 3rem;
                }
            }
        }

        &--title {
            font-size: 4rem !important;
            margin-top: 2rem !important;
        }

        &--search {
            margin-top: 6rem;
        }
    }

    &__body-section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-grow: 1;

        &--left {
            flex-grow: 1;
            background-color: #f9f9f9;
            padding: 4rem 2rem 4rem 8rem;
            inline-size: 75%;

            @include respond(phone){
                padding: 2rem !important;
            }
        }

        &--right {
            inline-size: 25%;
            min-inline-size: 40rem;
            background-color: #f4f4f4;
            border-inline-start: 1px solid #e6e6e6;
            padding: 4rem 2rem 4rem 2rem;
            flex-grow: 1;

            @include respond(phone){
                min-inline-size: 20rem;
            }
        }

        &--title {
            font-size: 1.6rem;
            color: #535353;
            font-weight: 500;
            margin-block-end: 2rem;
        }

        &--chip-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        &--content-list {
            display: flex;
            flex-wrap: wrap;
            overflow-y: auto;
            gap: 3rem;
            margin-top: 3rem;
        }
    }
}

.chip {
    display: inline-block;
    border-radius: 30px;
    padding: 0.5rem 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #acacac;
    background-color: #ffffff;
    border: 0.2rem solid #f6f6f6;
    cursor: pointer;

    &--active {
        color: #329ad4;
        border-color: #329ad4;
        box-shadow: 0px 5px 11px 2px #dedede;
    }
}

.content-list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-block-size: calc(100vh - 202px);
    gap: 3rem;

    scrollbar-color: #ededed transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ededed;
        border-radius: 30px;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: #c0c0c0;
        }
    }

    &__item {
        inline-size: calc(25% - 3rem);

        @media screen and (max-width: 1200px) {
            inline-size: calc((100% / 3) - 2rem);
        }
        @media screen and (max-width: 767px) {
            inline-size: calc(50% - 2rem);
        }
        @media screen and (max-width: 425px) {
            inline-size: calc(100% - 1rem);
        }
    }
    &__img {
        inline-size: 100%;
        overflow: hidden;
        border-radius: 10px;
        margin-block-end: 2rem;

        img {
            inline-size: 100%;
        }
    }

    &__description {
        font-size: 1.2rem;
        font-weight: 500;
        color: #494a4c;
    }

    &__price{
        font-size: 1.3rem;
        font-weight: bold;
        color: #494a4c;
    }
}

.tab-list {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    padding: 2rem 0;
    &__item {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding: 0.5rem 0;
        
        &--bar-chart{
            width: fit-content;
            height: fit-content;
        }

        &-column {
            label {
                color: #c0c0c0;
                font-size: 1rem;
                margin-block-end: 0.2rem;
            }
            p {
                color: #5d5d5d;
                font-size: 1.2rem;
                font-weight: 500;
                margin-block-end: 0;
            }

            &--btc {
                min-inline-size: 25%;
                max-inline-size: 25%;
            }
            &--price {
                min-inline-size: 20%;
                max-inline-size: 20%;
            }
            &--change {
                min-inline-size: 20%;
                max-inline-size: 20%;

                .positive {
                    color: #35c777;
                }
                .negative {
                    color: #dc4c60;
                }
            }
        }
    }
}
