@import "../../styles/base/variables";
@import "../../styles/base/responsive";

.search-engine {
    padding: 1rem;
    block-size: 100%;

    &__container {
        border: 0.3rem solid #0a0a0c;
    }

    &__header-section {
        display: flex;
        justify-content: center;
        padding: 4rem 4rem 5rem 8rem;
        text-align: center;

        @include respond(phone) {
            padding: 2rem !important;
        }

        &--logo {
            img {
                max-block-size: 7rem;
                @include respond(phone) {
                    max-block-size: 3rem;
                }
            }
        }

        &--title {
            font-size: 4rem !important;
            margin-top: 2rem !important;
        }

        &--search {
            margin-top: 6rem;
        }
    }

    &__body-section {
        width: 100%;

        &--content-list {
            display: flex;
            flex-wrap: wrap;
            overflow-y: auto;
            gap: 3rem;
        }

        .visited-chart-section {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 2rem;
            height: auto;
            background-color: #f9f9f9;
            @include respond(tab-land) {
                flex-direction: column;
                height: auto;
            }

            mat-card {
                width: 50%;

                &:last-child {
                    margin-left: 1rem !important;

                    @include respond(tab-land) {
                        margin-left: 0 !important;
                        margin-top: 1rem;
                    }
                }

                @include respond(tab-land) {
                    flex-direction: column;
                    width: 100%;
                    margin: 0;
                }
            }
        }

        .analytics-chart-section {
        }

        .most-visited {
            width: 100%;
        }
    }
}

.chart {
    display: flex;
    align-items: center;
}

.content-list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-block-size: calc(100vh - 202px);
    gap: 1.5rem;
    justify-content: center;

    scrollbar-color: #ededed transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ededed;
        border-radius: 30px;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: #c0c0c0;
        }
    }

    &__item {
        inline-size: calc(25% - 3rem);
        position: relative;
        border-radius: 2rem;
        @media screen and (max-width: 1200px) {
            inline-size: calc((100% / 3) - 2rem);
        }
        @media screen and (max-width: 767px) {
            inline-size: calc(50% - 2rem);
        }
        @media screen and (max-width: 425px) {
            inline-size: calc(100% - 1rem);
        }
    }
    &__img {
        inline-size: 100%;
        overflow: hidden;
        border-radius: 10px;
        margin-block-end: 2rem;

        img {
            border-radius: 2rem;
            inline-size: 100%;
            filter: brightness(0.8);
            background-size: cover;
        }
    }

    &__details {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        background: #000;
        opacity: 0.5;
        padding: 2rem;
        border-radius: 3rem;
        cursor: pointer;

        &--name {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2;
            color: #fff;

            @include respond(phone) {
                font-size: 1.8rem;
            }
        }

        &--price {
            font-size: 1.8rem;
            font-weight: 400;
            color: #fff;

            @include respond(phone) {
                font-size: 1rem;
            }
        }
    }

    &__label {
        position: absolute;
        bottom: 0;
        padding-left: 1rem;
        color: #fff;
    }
}
