<div class="search-engine">
    <div class="search-engine__container">
        <div class="search-engine__header-section">
            <header>
                <div class="search-engine__header-section--logo">
                    <img src="../assets/img/back_1.png" alt="" />
                </div>
                <h1 class="search-engine__header-section--title">How can we help?</h1>
                <div class="search-engine__header-section--search">
                    <search-area (searchedTerm)="searchedTerm($event)"></search-area>
                </div>
            </header>
        </div>
        <main class="search-engine__body-section">
            <div class="search-engine__body-section--left">
                <h4 class="search-engine__body-section--title">Recommended for you...</h4>
                <div class="search-engine__body-section--chip-wrapper">
                    <span class="chip">Popular</span>
                    <span class="chip chip--active">News</span>
                    <span class="chip">Science</span>
                    <span class="chip">Music</span>
                    <span class="chip chip--active">Tech</span>
                    <span class="chip">Health</span>
                    <span class="chip chip--active">Economy</span>
                    <span class="chip">Movies</span>
                </div>
                <div class="search-engine__body-section--content-list">
                    <ul class="content-list">
                        <li class="content-list__item" *ngFor="let vehicleRes of searchedresults">
                            <div class="content-list__img">
                                <img src="https://via.placeholder.com/300.png/09f/fff" alt="img">
                            </div>
                            <p class="content-list__description">{{vehicleRes?.name}}</p>
                            <p class="content-list__price">{{vehicleRes?.price}}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="search-engine__body-section--right">
                <div class="search-engine__body-section--tabs">
                    <tabset class="tab">
                        <tab heading="Most visited" id="tab1">
                            <ul class="tab-list">
                                <li class="tab-list__item" *ngFor="let clinic of ' '.repeat(1).split('')">
                                    <div class="tab-list__item--bar-chart">
                                        <!-- provide data visited data -->
                                        <google-chart [title]="mostVisitedAnalysis.title"
                                            [type]="mostVisitedAnalysis.type" [data]="mostVisitedAnalysis.data"
                                            [columns]="mostVisitedAnalysis.columnNames"
                                            [options]="mostVisitedAnalysis.options">
                                        </google-chart>
                                    </div>
                                    <div class="tab-list__item--bar-chart">
                                        <!-- provide most searched data sets -->
                                        <google-chart [title]="mostVisitedAnalysis.title"
                                            [type]="mostVisitedAnalysis.type" [data]="mostVisitedAnalysis.data"
                                            [columns]="mostVisitedAnalysis.columnNames"
                                            [options]="mostVisitedAnalysis.options">
                                        </google-chart>
                                    </div>
                                    <div class="tab-list__item--bar-chart">
                                        <!-- provide daily searches. -->
                                        <google-chart [title]="mostVisitedAnalysis.title"
                                            [type]="mostVisitedAnalysis.type" [data]="mostVisitedAnalysis.data"
                                            [columns]="mostVisitedAnalysis.columnNames"
                                            [options]="mostVisitedAnalysis.options">
                                        </google-chart>
                                    </div>
                                </li>
                            </ul>
                        </tab>
                        <tab heading="Top searches">Basic content 1</tab>
                    </tabset>
                </div>
            </div>
        </main>
    </div>
</div>